.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255, 1); 
  
  margin: 1.5rem; 
}

.store-name {
  margin: 0; 
}

.menu-list {
  display: flex;
  font-weight: bold;
  list-style-type: none;
  margin: 0 5%;
}

.menu-list li {
  margin-right: 3rem; 
}

.icon {
  margin-left: 2rem; 
}

h3 {
  text-align: center; 
  margin: 5rem;
  font-family: poppins;
  font-size: 40px; 
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-item {
  font-size: 20px;
  font-weight: bold;
  text-align: center; 
  margin: 0 0.5rem; 
}

.image-products {
  display: flex;
  justify-content: center; 
}

.product-with-discount {
  position: relative; /* Define a posição relativa para que a posição absoluta da etiqueta seja em relação a este contêiner */
}

.new-product {
  position: relative;
}

.discount-label {
  position: absolute; /* Posicionamento absoluto para sobrepor a imagem */
   /* Posiciona no topo da imagem */
  margin: 1rem 0 0 70%; /* Posiciona no canto direito da imagem */
  background-color: rgba(233, 113, 113, 1);
  color: rgba(255, 255, 255, 1);; /* Cor do texto da etiqueta */
  padding: 0.5rem;
  border-radius: 50%; /* Formato de eclipse */
}

.new-label {
  position: absolute; /* Posicionamento absoluto para sobrepor a imagem */
   /* Posiciona no topo da imagem */
  margin: 1rem 0 0 70%; /* Posiciona no canto direito da imagem */
  background-color: rgba(46, 193, 172, 1);
  color: rgba(255, 255, 255, 1);; /* Cor do texto da etiqueta */
  padding: 0.5rem;
  border-radius: 50%; /* Formato de eclipse */
}

.image-products img {
  margin: 0 1rem;
  
}

.product-details {
  background-color: rgba(244, 245, 247, 1);
  margin: 0 1rem 2rem;
  
}


.image-products > .products > p:not(:has(span)) {
  font-size: 14px;
  
}

.risk {
  text-decoration: line-through;
  color: rgb(176, 176, 176, 1);
  font-size: 14px;

}

.bolds {
  font-weight: bold;
  
}

.products {
  
  text-align: start;
}

.products p {
  margin: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.botao {
  border: 1px solid rgb(184, 142, 47, 1);
  color: rgb(184, 142, 47, 1);
  padding: 0.5rem 4rem;
  background-color: transparent;
}

.container-infs {
  
  
  background: rgba(250, 243, 234, 1)
}

.describes-infs {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin: 2rem 4rem 0;
  padding: 2rem;
  
}

.title {
  font-size: 25px;
  font-weight: bold;
  
  padding: 0;
}

.quality,
.protection,
.shipping,
.support {
  display: flex;
  align-items: center;
}

.quality p,
.protection p,
.shipping p,
.support p {
  margin: 0 0; 
}


.icone {
  margin-right: 0.5rem; 
}

.principal {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;  
  margin: 2rem 20% 0 3rem;
  padding: 0 6rem 0 1rem;
}

.principal .funiro {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 3rem;
}

.gray-text {
  color: rgba(159, 159, 159, 1);
  font-weight: bold;
}

.gray-text-normal {
  color: rgba(159, 159, 159, 1);

}

.negrito {
  font-weight: bold;
}

.subscribe-container {
  display: flex;
  flex-direction: row; /* Alinha os elementos horizontalmente */
   /* Alinha os elementos verticalmente */
}

.subscribe-container p {
  margin-right: 1rem;
  text-decoration: underline; /* Adiciona um espaçamento à direita entre os parágrafos */
}

.reserved {
  border-top: 1px solid rgba(217, 217, 217, 1); /* Centraliza o texto */
  margin: 2rem 3rem 0 3rem; /* Adiciona um espaçamento acima do texto */
}
